:root {
  --basic-gray: #eeeeee;
  --basic-dark-gray: #666666;
  --dark-gray: #888888;
  --light-gray: #c1c1c1;
  --text-gray: #283136;
  --text-dark-gray: #444444;
  --cart-gray: #a6a6a6;
  --dirty-white: #ababab;
  --background-light-gray: #e1e1e1;
  --border-gray: #dbdbdb;
  --sample-gray: #4d4d4d;
  --hover-gray: #dfdfdf;
  --focus-gray: #d5d5d5;
  --sudden-gray: #d7dcde;
  --new-gray: #b4b9bb;
  --less-white: #f1f1f1;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-pink: #fb565a;
  --deep-pink: #e74246;
  --dark-pink: #d7373b;
  --basic-green: #00ca74;
  --deep-green: #00bc6c;
  --dark-green: #00aa62;
  --dirty-yellow: #efc849;
  --deep-yellow: #eab534;
  --dark-yellow: #e5a722;

  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-shadow-opacity: rgba(0, 1, 1, 0.1);
  --box-shadow-opacity: rgba(0, 0, 0, 0.4);
  --transperant-opacity: rgba(0, 0, 0, 0.0001);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/roboto.woff)
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.container {
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px var(--basic-shadow);
}

/* Index */

.page-header {
  background-color: var(--basic-gray);
}

.navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  position: absolute;
}

.nav-item {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

}

.navigation-list li {
  width: 190px;
  box-sizing: border-box;
}

.navigation-list li:nth-child(2) {
  padding-left: 180px;
}

.navigation-list li:nth-child(3) {
  padding-left: 110px;
}

.navigation-list li:nth-child(4) {
  padding-left: 55px;
}

.navigation-list li:nth-child(5) {

  padding-right: 30px;
}

.navigation-list li:nth-child(6) {
  padding-left: 150px;
}

.navigation-list li:nth-child(7) {
  padding-right: 102px;
  text-align: right;
}

.nav-item:hover {
  color: var(--basic-pink);
}

.nav-item:active {
  color: var(--basic-black-opacity);
}

/* Main part */
.head-info {
  background-color: var(--basic-gray);
  display: flex;
  padding-top: 114px;
}

.heading-info {
  font-family: "Roboto", Arial, sans-serif;
  padding-left: 140px;

}

.motto {
  color: var(--basic-black);
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.principles {
  color: var(--text-gray);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.more-details {
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-pink);
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 240px;
  padding: 0 17px;
  padding-top: 17px;
  margin-right: 2px;
  margin-top: 38px;
  border-radius: 3px;
}

.more-details:hover {
  background-color: var(--deep-pink);
}

.more-details:active {
  color: var(--basic-shadow-opacity);
  background-color: var(--dark-pink);
  box-shadow: var(--basic-shadow-opacity);
}

/* --- */

.purchase-samples {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  font-family: "Roboto", Arial, sans-serif;
}

.web {
  padding-left: 90px;
}

.item-title {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.order {
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  height: 50px;
  margin-bottom: 80px;
  border-radius: 3px;
}

.order-red {
  background-color: var(--basic-pink);
  border-style: var(--basic-pink);
}

.order-red:hover {
  background-color: var(--deep-pink);
}

.order-red:active {
  color: var(--basic-shadow-opacity);
  background-color: var(--dark-pink);

}

.order-green {
  background-color: var(--basic-green);
  border-style: var(--basic-green);
}

.order-green:hover {
  background-color: var(--deep-green);
}

.order-green:active {
  color: var(--basic-shadow-opacity);
  background-color: var(--dark-green);
}

.order-yellow {
  background-color: var(--dirty-yellow);
  border-style: var(--dirty-yellow);
}

.order-yellow:hover {
  background-color: var(--deep-yellow);
}

.order-yellow:active {
  color: var(--basic-shadow-opacity);
  background-color: var(--dark-yellow);
}

/* -- -- */

.studio {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  border-top: solid;
  border-color: var(--basic-gray);
  padding-top: 39px;
}

.studio-text {
  margin-left: 100px;
}

.studio-proud {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.order-type {
  color: var(--text-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.work-list {
  list-style-image: url('../img/rec-red.svg');
}

.work-list-item {
  color: var(--text-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 46px;
}

.accuracy {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
}

.percent-list {
  list-style-type: none;
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.percent {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent-text {
  color: var(--text-gray);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -35px;
}

.percentage {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  height: 40px;
  left: 85.42%;
  right: 13.19%;
  top: calc(50% - 40px/2 + 178px);
  padding-right: 20px;
}

.advantage-percent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* -- - -- */
.web-samples {
  display: flex;
  justify-content: space-around;
  border: 2px solid var(--basic-gray);
  padding-top: 46px;
  padding-bottom: 44px;
}

.web-sample {
  opacity: 0.2;
}

.web-sample:hover {
  opacity: 1;
}

.web-sample:active {
  opacity: 0.1;
}

.academy,
.barber,
.pink {
  border-right-style: groove;
}

.academy {
  padding-right: 44px;
  padding-left: 100px;
}

.barber {
  padding-right: 48px;
}

.pink {
  padding-right: 55px;
}

.bear {
  padding-right: 100px;
}

.map {
  padding-top: 80px;
}

/* Form and location pin */

.address {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--basic-white);
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  text-decoration: none;
  position: absolute;
  width: 319px;
  height: 308px;
  left: 10px;
  top: 3130px;
  z-index: 1;
}

.nerds-studio {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 50px;
}

.address-text,
.phone {
  color: var(--basic-dark-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
}

.stubborn {
  color: var(--basic-dark-gray);
}

.write-us {
  margin-left: 50px;
  margin-top: 25px;
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 220px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-pink);
  border-style: var(--basic-pink);
}

.write-us:hover {
  background-color: var(--deep-pink);
  border-style: var(--deep-pink);
}

.write-us:active {
  background-color: var(--dark-pink);
  border-style: var(--dark-pink);
}

.pin {
  position: absolute;
  width: 231px;
  height: 190px;
  left: 647px;
  top: 3154px;
  z-index: 1;
}

/* Popup */

.popup {
  display: block;
  position: absolute;
  width: 960px;
  height: 590px;
  left: 240px;
  top: 1706px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--box-shadow-opacity);
  z-index: 2;
}

.request {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  padding-left: 100px;
}

.write-info {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.closing {
  display: flex;
}

.close-cross {
  position: relative;
  opacity: 0.3;
}

.close-cross:hover {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.extra-info {
  padding-left: 100px;
}

.name,
.email,
.letter {
  color: var(--text-dark-gray);
  opacity: 0.5;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--sudden-gray);
  border-radius: 3px;

}

.name,
.letter {
  margin-left: 100px;
}

.name,
.email {
  position: relative;
  width: 360px;
  height: 50px;
}

.name:hover,
.email:hover,
.letter:hover {
  border: 2px solid var(--new-gray);
}

.name:active,
.email:active,
.letter:active {
  opacity: 1;
  border: 2px solid var(--basic-black);
}

.letter {
  position: relative;
  width: 760px;
  height: 118px;
}

.send {
  position: relative;
  width: 259px;
  height: 50px;
  color: var(--basic-white);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  background-color: var(--basic-pink);
  border-style: var(--basic-pink);
  margin-left: 100px;
}

.half-width {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
}

.half-width input,
.half-width select {
  width: 80%;
}

.half-width input[type="range"] {
  width: 65%;
}

.close-cross {
  opacity: 0.3;
}

.close-cross:hover {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}




/* Catalog */

.sample-shop {
  background-color: var(--basic-gray);
}

.shop {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-black);
  position: relative;
  display: inline-block;
  margin-left: 348px;
  margin-top: 192px;
  margin-bottom: 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.shop-criterion {
  padding-left: 140px;
}

.price,
.grid-choice,
.sort-specific,
.found-sort {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.minimal,
.maximum {
  color: var(--text-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.number-box {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 80px;
  height: 38px;
  border-radius: 3px;
  background-color: var(--basic-gray);
  border-style: var(--basic-gray);
  text-align: center;
}

.check-one,
.checkboxes,
.found-list {
  list-style-type: none;
  font-family: "Roboto", Arial, sans-serif;
}

.show-result {
  margin-left: 35px;
  margin-top: 25px;
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 260px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-gray);
  border-style: var(--basic-gray);
}

.show-result:hover {
  background-color: var(--hover-gray);
  border-style: var(--hover-gray);
}

.show-result:active {
  opacity: 0.3;
  background-color: var(--focus-gray);
  border-style: var(--focus-gray);
  box-shadow: inset 0px 3px 0px var(--basic-shadow-opacity);
}

.grid-label {
  color: var(--text-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

/* Переключатель цены */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}


.range-control {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--less-white);
  border-radius: 5px;
}

.range-control .scale {
  height: 2px;
  background: var(--sudden-gray);
}

.range-control .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-control .range-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--dirty-white);
  box-shadow: 0 2px 1px 0 var(--basic-gray);
  border-radius: 50%;
  cursor: pointer;
}

.range-control .range-toggle-min {
  left: 50px;
}

.range-control .range-toggle-max {
  left: 110px;
}

.price-control {
  font-size: 0;
}

.price-control label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-control input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--text-gray);
  border: none;
  border-radius: 5px;
  background: var(--less-white);
}

.maximum {
  text-align: right;
}



/* Кастомные чекбоксы и радио */

.grid-label {
  padding-left: 30px;
}

.checkbox,
.check-radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -30px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.checkbox:checked+.check-box {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:hover+.check-box {
  opacity: 1;
}

.checkbox:active+.check-box {
  opacity: 0.1;
}

.radio-box {
  position: absolute;
  margin-left: -30px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.check-radio:checked+.radio-box {
  background-image: url("../img/radio-on.svg");
}

.check-radio:hover+.radio-box {
  opacity: 1;
}

.check-radio:active+.radio-box {
  opacity: 0.1;
}

/* Сортировка up and down */
.found {
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
  position: relative;
}

.found-type {
  display: inline-block;
  vertical-align: baseline;
  align-items: center;
  padding-right: 40px;
}

.found-list {
  display: flex;
  flex-direction: row;
}

.page-number,
.next-page {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--basic-gray);
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  align-items: center;
  margin-right: 11px;
  padding-top: 17px;
  margin-bottom: 60px;
}

.page-number {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

.next-page {
  height: 50px;
  width: 260px;
  border-radius: 3px;
}

.page-number:hover,
.next-page:hover {
  background-color: var(--hover-gray);
}

.page-number:active,
.next-page:active {
  opacity: 0.3;
  background-color: var(--focus-gray);
  border-style: var(--focus-gray);
  box-shadow: inset 0px 3px 0px var(--basic-shadow-opacity);
}

.one {
  background: var(--transperant-opacity);
  border: 3px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 3px;
}

/* Образцы товаров */

.catalog-choice {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-group,
.second-group,
.third-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 140px;
}

.sample {
  display: inline-block;
  border-radius: 3px;
  margin-right: 42px;
  box-shadow: 0px 0px 15px 5px var(--basic-shadow);
}

.browser {
  opacity: 0.3;
}

.browser:hover {
  opacity: 1;
}

.site {
  margin-top: -5px;
}

.add-sedona,
.add-pink,
.add-beard,
.add-bear,
.add-study,
.add-drink {
  display: block;
  background-color: var(--basic-gray);
  width: 360px;
  height: 231px;
  z-index: 1;
  text-align: center;
  align-items: center;
}

.text-head-info {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding-top: 26px;
}

.text-head-info:hover {
  color: var(--basic-pink);
}

.text-head-info:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.line-info {
  color: var(--basic-dark-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.buy-button {
  color: var(--basic-white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-pink);
  border-style: var(--basic-pink);
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 200px;
  padding-top: 17px;
  margin-bottom: 44px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.buy-button:hover {
  background-color: var(--deep-pink);
}

.buy-button:active {
  background-color: var(--dark-pink);
}

.address-catalog {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--basic-white);
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  text-decoration: none;
  position: absolute;
  width: 319px;
  height: 308px;
  left: 10px;
  top: 3295px;
  z-index: 1;
}

.pin-catalog {
  position: absolute;
  width: 231px;
  height: 190px;
  left: 647px;
  top: 3319px;
  z-index: 1;
}

/* Footer */
.page-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px;
}

.social-button {
  background-color: var(--background-light-gray);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 81px;
  height: 81px;
  margin: 36px 3px;
}

.social-button:hover {
  background-color: var(--deep-pink);
}

.social-button:active {
  background: var(--dark-pink);
  box-shadow: inset 0px 3px 0px var(--basic-shadow-opacity);
}

.friends {
  color: var(--basic-black);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.friends-discount {
  color: var(--text-dark-gray);
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
